$color-gold:#BCAC76;
$color-gray:#868E96;
$color-black:black;
$background-color-whitesmoke:#f8f9fa;
$color-light-gray:#E9ECEF;
$color-white:#E9ECEF;
$color-gold-light:#F7F5EF;
$color-dark-gray:#495057;