@import "color";
@import "font";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-nav{
    // border: 1px solid black;
    width: 100%;
    height: 50px;
    background-color: $color-white;
    .nav-common{
        // border: 5px solid orange;
        width: 100%;
        // margin: 0 auto;
        height: 50px;
        .nav-left{
            // border: 1px solid red;
            width: 30%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .nav-text{
            // border: 1px solid red;
            width: 30%;
            height: 50px;
            display: flex;
            align-items: center;
            
        }
        .nav-right{
            // border: 1px solid red;
            width: 180px;
            height: 74px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-right-up{
                // border: 1px solid blue;
                width: 50%;
                height: 50px;
               
            }
            .panel{
                background-color: $color-white;
                display: none;
                overflow: hidden;
                ul{
                    li{
                        list-style: none;
                        a{
                            font-family: $font-family;
                            font-size: 20px;
                            font-weight: 300;
                            text-decoration: none;
                            color: gray;
                        }
                    }
                }
            }
            .accordion{
                // border: 1px solid orange;
                cursor: pointer;
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                transition: 0.4s;
            }
        }
    }
}

.Home{
    li{
        a{
            font-family: $font-family;
            
            font-weight: 300;
            color: $color-gray;
            &:hover{
                color: $color-black;
                background-color: $color-white;
            }
            .new{
                border: 1px solid $color-gold;
                background-color: $color-gold-light;
                color: $color-gold;
                border-radius: 4px;
            }
        }
    }
}
.Shop{
    width: 700px;
    li{
        a{
            font-family: $font-family;
            font-weight: 300;
            color: $color-gray;
            &:hover{
                color: black;
                background-color: $color-black;
            }
            .new{
                border: 1px solid $color-gold;
                background-color: $color-gold-light;
                color: $color-gold;
                border-radius: 4px;
            }
        }
    }
    .shop-img{
        width: 100%;
        height: 100%;
    }
}

.card{
    .container{
        &:hover{
            transform: perspective(400px) scaleZ(2) translateZ(-100px);
            transition: 0.2s;
        }
       
        .first--image--text{
            border: 1px solid $color-black;
            max-width: 300px;
            height: 200px;
        }
    }
}
.corusel-photo{
    width: 50%;
}
.Icons{
    .row{
       width: 765px; 
       .icons-img{
           .icons-text{
               text-decoration: none;
               color: $color-black;
               &:hover{
                  span{
                    border-bottom: 1px solid $color-black;
                  } 
               }
           }
       }
    }
}
.Docs{
    .Docs-item{
        .d-flex{
            .Docs-item-img{
                width: 250px;
            }
            .Docs-item-img-first{
                width: 232px;
                // height: 250px !important;
            }
                
        }
    }
    li{
        list-style: none;
        a{
            font-family: $font-family;
            font-size: 300;
            text-decoration: none;
            color: $color-gray;
            &:hover{
                color: $color-black;
                background-color: white;
            }
        }
    }
}
.carousel-inner{
    h2{
        font: $font-family;
        font-weight: 700;
    }
    p{
        font: $font-family;
        font-weight: 700;
    }
}
.new{
    border: 1px solid $color-gold;
    background-color: $color-gold-light;
    color: $color-gold;
    border-radius: 4px;
}
.search-btn{
    .nav-search{
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: transparent;
        outline: none;
        color: $color-gray;
        &:hover{
            color: black;
        }
    }
}
.button-outline{
    outline: none !important;
}
.button-fix{
    border: 1px solid $color-gold;
    color: $color-gold;
    &:hover{
        background-color: $color-gold;
    }
    &:focus{
        box-shadow: none;
    }
}
.button-hover{
    &:hover{
        color: $color-gold;
        transition: 0.2s;
    }
}
.border-hover{
    text-decoration: none;
    &:hover{
        border-bottom: 2px solid black;
        transition: 0.2s;
    }
}
.nav-icons{
    display: flex;
    list-style: none;
    li{
        a{
            font-family: $font-family;
            font-size: 300;
            text-decoration: none;
            color: $color-black;
            &:hover{
                color: $color-gold;
                transition: 0.2s;
            }
            font-size: 25px;
        }
    }  
}

.navigation-goods{
    .navigation-right{
        li{
           .black{
               color: $color-black;
           }
           a{
               font-family: $font-family;
               font-weight: 300;
               text-decoration: none;
               color: $color-gray;
               &:hover{
                   color: $color-black;
                   transition: 0.5s;
                   border-bottom: 1px solid $color-black;
               }
           }
        }
    }
    .navigation-left{
        a{
            font-family: $font-family;
            text-decoration: none;
            color: $color-gold;
            font-family: $font-family;
            &:hover{
                border-bottom: 1px solid $color-gold;
            }
        }
      
    }
}
.arrivals-text{
    font-size: 20px;
}
.All-products{
   

    .product{
        .add-to-card{
            display: none !important;
            display: flex;
            justify-content: space-between;
        }
        &:hover{
            .add-to-card{
                display: block !important;
                display: flex !important;
                
            }
        }
        .product-img{
            position: relative;
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
            .first{
                position: absolute;
                top: 0;
                
            }
            .first{
                transition: .3s ;
            }
            .second{
                transition: .3s ;
                // height: 383px;
            }
            
        }
        
        &:hover .first{
            opacity: 0;
            
        }
        &:hover .second{
            transform: scale(1.1);
        }
        &:hover .add-to-card{
            height: max-content !important;
        }
    }
    

    
}
.button-shadow{
    box-shadow: none !important;
}
.summer-sales{
    right: 0;
    top: -50px;
    max-height: 100%;
    z-index: 5;
}
footer{  
    .letter{
        font-size: 30px;
    }
    .form-control{       
        padding-left: 0;
        transition: all .5s;
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: transparent;              
    }    
    .btn.btn-underlined {
        transition: all .5s;
        border-top: none;
        border-right: none;
        border-bottom-color: #ced4da;
        border-left: none;
        background-color: transparent;
    }
    h6{
        font-family:$font-family;
        font-weight: 600;
        color: $color-black;
    } 
    li{        
        a{
            text-decoration: none;
            font-family: $font-family;
            font-weight: 400;
            color: $color-gray;
            &:hover{
                color: black;
                text-decoration: underline;
                transition: 0.5s;
            }
           
        }
        
    }
   
    
    p{
        font-family: $font-family;
        font-weight: 400;
        color: $color-gray;
        // width: 90%;
    }
    .accardion{
        cursor: pointer;
    } 
    li{
        list-style: none;
        
    }  
    .accardion-plus{
        i{
            display: none;
        }
    }
}  
@media screen and (max-width:376px) {
    .nav-left{
        display: none !important;
    }
    .nav-right{
        display: none;
    }
    .popular-week{
        .popular-week-first{
            .book-img{
                width: 60% !important;
            }
            .img-two{
                
                // width: 62% !important;
                .img-two-second{
                    .chair-img{
                        width: 60% !important;
                    }
                }
            }
            

        }
    }
    
   
}

@media screen and (max-width:768px) {
    .nav-left{
        display: none !important;
    }
    .nav-right{
        display: none !important;
    }
    
    .Docs{
        .Docs-item{
            .Docs-item-img{
                display: none !important;
            }
            .Docs-item-img-first{
                display: none !important;
            }
        }
    }
    .popular-week{
        .popular-week-first{
            .img-two{
                .img-two-first{
                    margin-left: 66px;
                }
                .img-two-second{
                    margin-right: 13px;
                    // .chair-img{
                    //     // width: 100% !important;
                    // }
                }
            }
            .img-three{
                .clock-text{
                    width: 100% !important;
                    .clock-img{
                        margin-top: 31px;
                    }
                   
                }
                .shop-bag{
                    margin-top: 30px;
                    margin-left: 94px !important;
                    .shop-box{
                        width: 62% !important;
                    }
                }
            }
        }
    }
    .accardion-plus{
        width: 100% !important;
        i{
            display: block !important;
        }
        .accardion{
            display: none;
        }
    }
    .shop-nav{
        width: 102% !important;
    }
    .shop-img{
        display: none;
    }
}

